<h1>Happy Birthday</h1>
<h2>David 'Manbeast' Chau</h2>
<div class="main">
  <div class="name">
    <div class="group">
      <div class="letter">
        D
      </div>
      <div class="word">
        iligent
      </div>
      <div class="clear"></div>
    </div>
    <div class="group">
      <div class="letter">
        A
      </div>
      <div class="word">
        dmirable
      </div>
      <div class="clear"></div>
    </div>
    <div class="group">
      <div class="letter">
        V
      </div>
      <div class="word">
        ictorious
      </div>
      <div class="clear"></div>
    </div>
    <div class="group">
      <div class="letter">
        I
      </div>
      <div class="word">
        ntelligent
      </div>
      <div class="clear"></div>
    </div>
    <div class="group">
      <div class="letter">
        D
      </div>
      <div class="word">
        ivine
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="message">
    <p>Hard working and tireless, always doing what others cannot</p>
    <p>Your actions and compassion for others shines brightly everyday</p>
    <p>You are humble yet fierce and persevering</p>
    <p>They say iron sharpens iron, but you sharpen with lasers</p>
    <p>God has blessed you immensely so that you may bless others</p>
  </div>
  <div class="clear"></div>
</div>