.intro {
  height: 190px;
  margin: 0 0 40px 0;
}

h1, h2 {
  font-family: Neo Retro Draw, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 75px;
  text-align: center;
}

h1 {
  margin: 0 0 20px 0;
}

h2 {
  margin: 0;
}

.main {
  margin: 0 auto;
  width: 907px;
}

.name {
  float: left;
  margin: 0 80px 0 0;
}

.group {
  margin: 0 0 10px 0;
}

.letter, .word {
  float: left;
  font-size: 45px;
}

.letter {
  font-family: Sansation Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 50px;
}

.word {
  font-family: Sansation, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.message {
  float: left;
}

.message p {
  font-family: Sansation, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 11px 0;
}